.setCenter{
  left: 50% !important;
  transform: translateX(-50%) !important;
  max-width: 1200px !important;
}

.setVerticalCenter{
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
